SPARKFI_DB_URL=jdbc:postgresql://db.prisma.io:5432/postgres?sslmode=require
SPARKFI_DB_USER=89a6264cf35fbe1a82646b7e4ccf275e195d9709e8fa9bba5b16a3bbac6b866c
SPARKFI_DB_PASSWORD=sk_AVxLU1owOXx5w7juLqFfH

mvn exec:java -Dexec.mainClass="org.sparkfi.Main"